/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    color: rgb(225, 239, 230);
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}

.tag {
    font-style: italic;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17, .8);
}

.transbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
    width: 100%;
    height: 310px;
    justify-content: center;
}

.menu-container {
    display: flex;
    height:250vh;
    background-color: rgb(0, 4, 17, .8);
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.topper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-section {
    display: flex;
    flex-direction: column;
    width: 35vw;
    justify-content: flex-start;
    /* align-items: center; */
    justify-content: space-evenly;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.title {
    width: 80%
}

.price {
    align-self: flex-end;
    width: 20%;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

img {
    width: 25vw;
    padding: 20px;
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* h2 {
    width: 100%
} */

/* footer section */
footer {
    width: 100%;
    height: 20vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    flex-wrap: wrap;
}

.end {
   width: 100%;
   display: flex;
   height: 150px;
}

.email {
width: 600px;
}

button {
    color: black;
    font-size: xx-large;
}

.email {
    width: 35vw;
    flex-wrap: wrap;
    font-size: 5rem;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

nav.ftr {
    width:65vw;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    align-items: center;
}

.copyright {
    font-size: 2.5rem;
    justify-content: flex-end;
    display:flex;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }

    h1 {
        font-size: 5.5rem;
        text-align: center;
        padding-bottom: 15px;
    }

    .transbox {
        height:auto;
        justify-content: center;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .social {
        width: 30vw;
    }

    /* menu */
    .menu {
        background-image: none;
    }

    .menu-container {
        background-color: rgb(225, 239, 230);
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: auto;
    }

    .menu-section {
        width: 60vw;
    }

    .menu-item {
        flex-direction: column;
        border-bottom: solid 3px;
        border-color: rgb(0, 4, 17);
        align-items: center;
        padding-bottom: 15px;
    }

    h2, h3, h4, p{
        color: rgb(0, 4, 17);
        font-weight: 600;
    }

    h2 {
        border-bottom: solid 20px;
        border-color: rgb(0, 4, 17);
        margin-bottom: 40px;
    }

    h3 {
        font-size: 4rem;
        border: solid 5px;
        border-color: rgb(0, 4, 17);
        text-align: center;
    }

    h4 {
        text-align: center;
        font-size: 3.6rem;
    }

    p {
        text-align: center;
        font-size: 3rem;
    }

    .price {
        align-self: center;
    }

    .title {
        padding-top: 15px;
    }

    /* footer section */
    
    footer {
        height: 450px;
        padding-top: 2.5vh;
        font-size: 2rem;
        flex-direction: column;
        display: flex;
    }

    .email {
        flex-direction: column;
        width: 90vw;
        font-size: 3.0rem;
        align-items: center;
        padding-left: 2.5vw;
    }

    .input {
        width: 400px;
    }

    button {
        width: 400px;
    }

    .copyright {
        align-self: flex-end;
        text-align: center;
        font-size: 2rem;
    }

    .end {
        flex-direction: column;
        display: flex;
        height: 350px;
    }

    nav.ftr {
        width: 100vw;
        flex-direction: column;
        padding-top: 40px;
    }
}
